qdrant-client==1.10.1
fastembed==0.2.7
python-dotenv==1.0.1
litellm==1.56.6
google-generativeai==0.8.3
ollama==0.3.3
instructor==1.5.2
openai==1.58.1
streamlit==1.37.1
streamlit-player==0.1.5
pandas
numpy
sentence-transformers==3.3.1